<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link href="/static/css/index2.css" rel="stylesheet" type="text/css">
<link href="/static/css/index1.css" rel="stylesheet" type="text/css">
<link href="/static/css/navigation.css" rel="stylesheet" type="text/css">
<link href="/static/css/foot.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery-1.6.4.min.js"></script>
<title>公司概况</title>
<link rel="Shortcut Icon" href="/static/images/favicon.ico"/>
<script type="text/javascript">
var _bdhm_top = 0;
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
var _bdhm_tim = new Image(1,1);
_bdhm_tim.id = "bdhmPerimg";
_bdhm_tim.src = _bdhmProtocol + "hm.baidu.com/_tt.gif?si=f6126b0e0bcc2a0aeed4ca0d612ad4db&rnd=" + Math.round(Math.random()*2147483647);
_bdhm_tim.onload=function(){_bdhm_top = 1;}
</script>
</head>

<body>

<!--head start-->
 <div id="navigation">
  <div class="lan"></div>
  <div class="hui">
     <div class="content">
        <div class="logo floatleft"><a href="{{url_for('show_index')}}" target="_blank"><img src="/static/images/logo.png" border="0"></a></div>
        <div class="slogan floatleft"></div>
        <div class="sign floatright"></div>
        <div class="phone floatright"></div>
        <div class="clear"></div>
     </div>
  </div>

  <div class="nav">
    <!-- 导航开始 -->
     <div class="navv"> 
       <ul>
       <li><a href="{{url_for('show_index')}}" id="shouye" class="current">首页</a></li>
       <li><a href="{{url_for('show_about')}}" id="qylc" class="">公司概况</a>                                                                                                                                                                                                                                                                                                                                                                                                         
       </li>
       <li><a href="{{url_for('show_gswh')}}" id="zlwh">公司文化</a>    
       </li>
       <li><a href="{{url_for('show_news')}}">新闻中心</a>
       </li>
       <li><a href="{{url_for('show_team')}}" id="tdfc">团队风采</a>   
       </li>
       <li><a href="{{url_for('show_hire')}}" id="jrwm">招聘信息</a>
       </li>
        <li><a href="{{url_for('show_jpfy')}}">精品房源</a>
       </li>
       <div class="clear"></div>
       </ul>
     </div>
     <!-- 导航结束 -->
     <div class="shenlan"></div>
     <div class="shadow1"></div>
     <div class="shadow2"></div>
  </div>
</div>
<!--head end-->
<div id="conntain">
  <!--banner-->
  <div class="neirong1">
   
  </div>
  <!--banner-->
  <!--2级导航-->
   <div class="daohang_2">
     <div class="bordersolid"><span class="font_lan">公司介绍</span></div>
     <div class="daohang_title margintop15">
     <a href="{{url_for('show_about')}}" id="jtgk">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="current f_yh14">公司概况</span></a></div>
     <div class="daohang_title">
     <a href="{{url_for('show_gsys')}}" id="jtdsj">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="f_yh14">公司优势</span>
       </a></div>
   </div>
   <!--2级导航结束-->
   <!--右侧内容-->
   <div class="wenzikuang marginbottom80">
     <div class="bordersolid font_lan">公司概况</div>
     <div class="margintop30 duanluo font_hui_14"><p>苏州信易居房地产经纪有限公司(简称“信易居房屋”)于2013年高端起步，布局锁定在苏州园区中高端社区，主要从事房地产买卖、租赁、楼盘代理、银行按揭等经纪业务，是一家专业从事房地产服务，集房地产咨询服务，房地产中介服务，房地产代理于一身的综合服务连锁机构，同时具备房地产经纪机构备案资质。</p>
                         
                       <p> 信易居房屋采取“门店”和“租售中心”双销售模式在苏州园区稳扎稳打，稳中求胜，目前正逐步发展壮大，2013年11月份公司仅用18分钟连续签4套高端别墅，创造房地产经纪行业的传奇，2014年公司总业绩比2013年翻一番，2015年截至7月份，公司员工创造月收入15万以上，不论是高端住宅、别墅还是楼盘代理，信易居房屋在销售上都表现非常优异。</p>          
                           
                       <p> 信易居房屋采用多元化的发展渠道，更专注于客户服务，提升公司品牌专业度和市场占有率，坚持“诚信铸就品牌 服务创造价值”为公司服务理念，以“为客户提供房地产交易的品质服务；为员工搭建人生价值的实现平台”为使命，与客户建立战略合作伙伴关系，力争成为苏州中高端市场的知名品牌。</p>
                       <p>我们的团队是一个年轻，专业，敬业的团队。团队中的每一个人都是可以独当一面的出类拔萃的人才，“能用众力，则无敌于天下矣;能用众智， 则无畏于圣人矣”，没错我们就是一支团结的队伍。我们任务分配合理，专业互补，各有所长。我们相互学习，在经理的领导下共同进步。坚持“诚信铸就品牌 服务创造价值”为公司服务理念，以“为客户提供房地产交易的品质服务为员工搭建人生价值的实现平台”为使命，与客户建立战略合作伙伴关系，力争成为苏州中高端市场的知名品牌。力争为客户提供最优质的服务。</p>
                       <p>
                       公司注册地在苏州工业园区，并为每一名员工缴纳苏州园区社会保险，公司已与中国银行，工商银行，建设银行，农业银行等多家银行，以及多家开发商和物业管理公司成为战略合作伙伴。

公司目前正处于发展阶段，需要伙伴们的到来，我公司本着“德才兼备、以德为先”的用人原则，“将企业文化进行到底”的目标管理体系，“高度放权、充分信任、自我管理”的企业核心价值观，加强物质氛围建设，让员工生活的更加富裕舒适，是企业文化建设的重要目标和目的，计划在未来三到五年时间内发展成为苏州市场上最具品牌影响力的房地产经纪公司之一，并让所有的伙伴们能在这个平台上得到出彩的机会，实现自己的梦想。</p>
                        </div>
    </div>
    <!--右侧内容结束-->
  <div class="clear"></div>
</div>
<div id="foot">
  <div class="lan">
     <div class="message">
        <div class="left_foot floatleft">
        <img src="/static/images/sm1.jpg" border="0" class="margintop27" />
        </div>
        <div class="right_foot floatleft">
        <div class=" foot_text">联系电话：18751466500</div>
        <div class=" foot_text1"><a href="{{url_for('show_index')}}" target="_blank">关于信易居</a> | <a href="http://company.zhaopin.com/CC566889122.htm" target="_blank">智联招聘</a> | <a href="http://jobs.51job.com/suzhou-gyyq/co3041030.html" target="_blank">前程无忧</a> | <a href="{{url_for('show_hire')}}" target="_blank">加入我们</a></div>
        <div class=" foot_text2">苏州信易居房地产经纪有限公司</div>
        </div>
     </div>
  </div>
  <div class="shenlan"></div>
</div>


<!--foot end-->
<form name="head"><input type="hidden" value="shouye" id="location"></form>
<script src="/static/js/tools.js"></script> 
<script src="/static/js/index.js"></script> 
<script type="text/javascript">

var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");

document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff6126b0e0bcc2a0aeed4ca0d612ad4db' type='text/javascript'%3E%3C/script%3E"));

</script><script src="/static/js/h.js" type="text/javascript"></script><a href="http://tongji.baidu.com/hm-web/welcome/ico?s=f6126b0e0bcc2a0aeed4ca0d612ad4db" target="_blank"><img border="0" src="/static/images/21.gif" width="20" height="20"></a>


</body></html>