<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link href="/static/css/index2.css" rel="stylesheet" type="text/css">
<link href="/static/css/index1.css" rel="stylesheet" type="text/css">
<link href="/static/css/navigation.css" rel="stylesheet" type="text/css">
<link href="/static/css/foot.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery-1.6.4.min.js"></script>
<title>公司优势</title>
<link rel="Shortcut Icon" href="/static/images/favicon.ico"/>
<script type="text/javascript">
var _bdhm_top = 0;
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
var _bdhm_tim = new Image(1,1);
_bdhm_tim.id = "bdhmPerimg";
_bdhm_tim.src = _bdhmProtocol + "hm.baidu.com/_tt.gif?si=f6126b0e0bcc2a0aeed4ca0d612ad4db&rnd=" + Math.round(Math.random()*2147483647);
_bdhm_tim.onload=function(){_bdhm_top = 1;}
</script>
</head>

<body>

<!--head start-->
 <div id="navigation">
  <div class="lan"></div>
  <div class="hui">
     <div class="content">
        <div class="logo floatleft"><a href="{{url_for('show_index')}}" target="_blank"><img src="/static/images/logo.png" border="0"></a></div>
        <div class="slogan floatleft"></div>
        <div class="sign floatright"></div>
        <div class="phone floatright"></div>
        <div class="clear"></div>
     </div>
  </div>

  <div class="nav">
    <!-- 导航开始 -->
     <div class="navv">
       <ul>
       <li><a href="{{url_for('show_index')}}" id="shouye" class="current">首页</a></li>
       <li><a href="{{url_for('show_about')}}" id="qylc" class="">公司概况</a>  
       </li>
       <li><a href="{{url_for('show_gswh')}}" id="zlwh">公司文化</a>    
       </li>
       <li><a href="{{url_for('show_news')}}">新闻中心</a>
       </li>
       <li><a href="{{url_for('show_team')}}" id="tdfc">团队风采</a>   
       </li>
       <li><a href="{{url_for('show_hire')}}" id="jrwm">招聘职位</a>
       </li>
         <li><a href="{{url_for('show_jpfy')}}">精品房源</a>
       </li>
       <div class="clear"></div>
       </ul>
     </div>
     <!-- 导航结束 -->
     <div class="shenlan"></div>
     <div class="shadow1"></div>
     <div class="shadow2"></div>
  </div>
</div>
<!--head end-->
<div id="conntain">
  <!--banner-->
  <div class="neirong1">
   
  </div>
  <!--banner-->
  <!--2级导航-->
   <div class="daohang_2">
     <div class="bordersolid"><span class="font_lan">公司介绍</span></div>
     <div class="daohang_title margintop15">
     <a href="{{url_for('show_about')}}" id="jtgk">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="current f_yh14">公司概况</span></a></div>
     <div class="daohang_title">
     <a href="{{url_for('show_gsys')}}" id="jtdsj">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="f_yh14">公司优势</span>
       </a></div>

   </div>
   <!--2级导航结束-->
   <!--右侧内容-->
   <div class="wenzikuang marginbottom80">
      <div class="block02">
     <a name="whnh"></a><div class="bordersolid font_lan">公司优势</div>
     <div class="margintop30 duanluo font_hui_14"><p class=" fontweight">精耕商圈</p><p>
     <p>在房地产行业区划划分名确的广大不动产市场中，一个普通经纪人往往只负责在自己的片区，而同品牌下的众多的连锁店也是各自负责一片区域。尤其是直营店与加盟店之间
，对自己的商圈占有明确。本公司深入贯彻了这种理念，以小区内每一户为目标单位，制作区域居住片区、商业片区到具体的小区或商业楼再到小区内每一户或者商业楼每个区域的详细的目标图，
制作一个完整的商圈房图同时，把图中每一个信息点扩展成一个信息链条甚至信息数，如：一套房产的所有人、产权人、落户人、学区划分、街道划分、水电暖情况、历史价格、现价、所有人租售
以及新购意向、所有人家庭社会关系以及租售购意向以及房市预期等等，如此的来的信息，无疑实现了商圈利益的深度挖掘，而这些还是微观意义上的。还可以从宏观区域规划发展乃至城市发展规划
中研究商圈内的价值发展，提供良好的市场预期，并从中捕捉商机。</p>
     </div>
     <div class="margintop30 duanluo font_hui_14"><p class=" fontweight">严谨的服务态度</p><p>
     <p>严谨是一种工作态度，反映了一种工作作风。严谨细致，就是对一切事情都有认真、负责的态度，一丝不苟、精益求精，于细微之处
见精神，于细微之处见境界，于细微之处见水平；就是把做好每件事情的着力点放在每一个环节、每一个步骤上，不心浮气躁，不好高骛远；就是从一件一件的具体工作做起，从最简单、最平凡、最
普通的事情做起，特别注重把自己岗位上的、自己手中的事情做精做细，做得出彩，做出成绩。本公司各位员工严于律己，始终秉承着严谨的服务态度，全心全意为客户服务。</p>
     </div>
     <div class="margintop30 duanluo font_hui_14"><p class=" fontweight">丰富的服务经验 </p><p>
    <p>人的工作经历代表了他曾经所从事的职业，工作经历的深度和广度代表了他对这份职业的熟悉程度和驾御的能力，必须以务实的精神和态度
在当前的工作领域做好工作，多做工作，做出成绩。只有做好工作，才能获得更多的工作机会，只有多做工作，才能获得更多的经验和技能，公司员工都是有着丰富的工作经验，屡屡在销售业务上创造出有意的成绩。</p>
     </div>
     <div class="margintop30 duanluo font_hui_14"><p class=" fontweight">优质的资源 </p><p>
    <p>我们的公司位于美丽的金鸡湖河畔，风景优美，经济的发达同时也给我们公司带来了很大的商机，整个苏州的楼盘信息，交易状况，房屋销售状况公司我们公司都能
第一时间获取。公司主营：金鸡湖、独墅湖双湖板块学区房高端一手及二手房住宅：多层花园洋房、百万千万级大平层及别墅、酒店式公寓、商务写字楼等，优质的资源也给本公司</p>
     </div>
     </div>
    </div>
    <!--右侧内容结束-->
  <div class="clear"></div>
</div>
<div id="foot">
  <div class="lan">
     <div class="message">
        <div class="left_foot floatleft">
        <img src="/static/images/sm1.jpg" border="0" class="margintop27" />
        </div>
        <div class="right_foot floatleft">
        <div class=" foot_text">联系电话：18751466500</div>
        <div class=" foot_text1"><a href="{{url_for('show_index')}}" target="_blank">关于信易居</a> | <a href="http://company.zhaopin.com/CC566889122.htm" target="_blank">智联招聘</a> | <a href="http://jobs.51job.com/suzhou-gyyq/co3041030.html" target="_blank">前程无忧</a> | <a href="{{url_for('show_hire')}}" target="_blank">加入我们</a></div>
        <div class=" foot_text2">苏州信易居房地产经纪有限公司</div>
        </div>
     </div>
  </div>
  <div class="shenlan"></div>
</div>


<!--foot end-->
<form name="head"><input type="hidden" value="shouye" id="location"></form>
<script src="/static/js/tools.js"></script> 
<script src="/static/js/index.js"></script> 
<script type="text/javascript">

var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");

document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff6126b0e0bcc2a0aeed4ca0d612ad4db' type='text/javascript'%3E%3C/script%3E"));

</script><script src="/static/js/h.js" type="text/javascript"></script><a href="http://tongji.baidu.com/hm-web/welcome/ico?s=f6126b0e0bcc2a0aeed4ca0d612ad4db" target="_blank"><img border="0" src="/static/images/21.gif" width="20" height="20"></a>


</body></html>