<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link href="/static/css/index2.css" rel="stylesheet" type="text/css">
<link href="/static/css/index1.css" rel="stylesheet" type="text/css">
<link href="/static/css/navigation.css" rel="stylesheet" type="text/css">
<link href="/static/css/foot.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery-1.6.4.min.js"></script>
<title>行业新闻</title>
<link rel="Shortcut Icon" href="/static/images/favicon.ico"/>
<script type="text/javascript">
var _bdhm_top = 0;
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
var _bdhm_tim = new Image(1,1);
_bdhm_tim.id = "bdhmPerimg";
_bdhm_tim.src = _bdhmProtocol + "hm.baidu.com/_tt.gif?si=f6126b0e0bcc2a0aeed4ca0d612ad4db&rnd=" + Math.round(Math.random()*2147483647);
_bdhm_tim.onload=function(){_bdhm_top = 1;}
</script>
</head>

<body>

<body>
 <div id="navigation">
  <div class="lan"></div>
  <div class="hui">
     <div class="content">
        <div class="logo floatleft"><a href="{{url_for('show_index')}}" target="_blank"><img src="/static/images/logo.png" border="0"></a></div>
        <div class="slogan floatleft"></div>
        <div class="sign floatright"></div>
        <div class="phone floatright"></div>
        <div class="clear"></div>
     </div>
  </div>

  <div class="nav">
    <!-- 导航开始 -->
        <div class="navv"> 
       <ul>
       <li><a href="{{url_for('show_index')}}" id="shouye" class="current">首页</a></li>
       <li><a href="{{url_for('show_about')}}" id="qylc" class="">公司概况</a>                                                                                                                                                                                                                                                                                                                                                                                                         
       </li>
       <li><a href="{{url_for('show_gswh')}}" id="zlwh">公司文化</a>    
       </li>
       <li><a href="{{url_for('show_news')}}">新闻中心</a>
       </li>
       <li><a href="{{url_for('show_team')}}" id="tdfc">团队风采</a>   
       </li>
       <li><a href="{{url_for('show_hire')}}" id="jrwm">招聘职位</a>
       </li>
         <li><a href="{{url_for('show_jpfy')}}">精品房源</a>
       </li>
       <div class="clear"></div>
       </ul>
     </div>
     <!-- 导航结束 -->
     <div class="shenlan"></div>
     <div class="shadow1"></div>
     <div class="shadow2"></div>
  </div>
</div>
<div id="conntain">
  <!--banner-->
  <div class="neirong1">
   </div>
  <!--banner-->
  <!--2级导航-->
  
	  <script language="javascript">
		  var para = 4;
		  </script>
		  <div class="daohang_2">
     <div class="bordersolid"><span class="font_lan">行业新闻</span></div>
     <div class="daohang_title margintop15">
     <a href="{{url_for('show_news')}}">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="current f_yh14" id="qyxwmark">行业新闻</span>
     </a></div>
   </div>
   <script language="javascript">		
	if(para==4){		
	  var mark = document.getElementById("qyxwmark");
	  mark.setAttribute("class","current f_yh14");
	}else if(para==5){
	 var mark = document.getElementById("qyzxmark");
	 mark.setAttribute("class","current f_yh14");
	}else if(para==6){	
	  var mark = document.getElementById("pwshmark");
	  mark.setAttribute("class","current f_yh14");	
	}else if(para==7){	
	  var mark = document.getElementById("jcsjmark");
	  mark.setAttribute("class","current f_yh14");
	}
	
</script>
	
  
  
  
   <!--2级导航结束-->
   <!--右侧内容-->
   
   <div class="wenzikuang marginbottom80">
     <div class="bordersolid font_lan">专家：户籍改革重点在特大城市，以房价调控人口</div>
<!--单行列开始表-->
     <div class="margintop30 duanluo font_hui_14"><p>   
国务院近日发布了《关于进一步推行户籍制度改革的意见》(以下简称《意见》)，明确提出了要逐步废除户籍制，实行统一的居住证制度，并要求对各类不同规模的城市采用差别化的落户政策，同时也提出要完善与落户人口数挂钩的财政转移支付制度，实现基本公共服务的均等化。户籍制度为何会持续了60多年而顽强存在？户籍制度存废的核心取决于什么？当前改革的重点是什么？如何才能控制特大城市的人口规模，延续目前的户籍制思路对吗？&ldquo;公共服务均等化&rdquo;是不是个&ldquo;乌托邦&rdquo;，强推会带来什么后果？

废除中小城镇户籍制属顺水推舟<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国的&ldquo;户口&rdquo;管理早在秦朝就已经有了，但户籍制度主要是在1953年之后形成的。当时的目的是为了发展工业经济，采取了牺牲农业，来为工业提供原料、资金等的方式，即后来常说的工农业&ldquo;剪刀差&rdquo;。它是通过计划行政手段，压低农民的收入，把农业部门的利润转移到工业去，以此来促进工业发展。这就导致农业、农民在整个经济体制里处于一种&ldquo;吃亏&rdquo;的状态，城市在工业部门工作的居民&ldquo;收入&rdquo;相对就高一些。而人是自私的，受此影响，当时的农民就想流动到城市中，进入工业部门工作。户籍制由此应运而生，把人口划分为城市户口和农村户口，目的是用来限制农民流入城市。

1978年的改革是先从农村开始，以承包制为基础，农村首先出现了&ldquo;万元户&rdquo;。当时农村的收入高于城市，户籍制的存在不是很大的问题。后来改革的重心转移到城市，农村的发展相对于城市开始滞后。在城市收入较高的情况下，一方面吸引了农民工入城，另一方面政府又不想为农民工提供城市居民所享有的社会福利，就依靠户籍制来形成一道围墙，作为能否享有社会福利的划分依据。

表面上看，户籍制度存在的原因是城市居民的福利高于农村。但实际上，这种&ldquo;偏高&rdquo;是相对意义上的。城市居民的福利高于农村是正常的，因为城市的位置优势，交通便捷，工业发达，人口的素质也较高，城市居民的收入本应高于农村。但因为加进了政府提供的社会福利，城市居民的收入就&ldquo;偏高&rdquo;了。

根据经济学的收入分配理论，各部门、各要素所获得的收入是由它们对生产所做出的贡献决定的。劳动者的竞争力越强，对生产的贡献越大，所获得的收入就越高，收入与贡献是成比例的。城市居民的收入高，是反映了其整体竞争力强，对经济的贡献大。假设一个城市居民的竞争力是农民的两倍，他的收入也应该是农民的两倍。但加入了社会福利后，实际上，他的收入可能是农民的三倍、四倍。也就是说他的收入已经偏离了与农民的竞争力对比，远高于对生产的贡献应获得的部分。这种&ldquo;偏高&rdquo;的收入，是城市政府提供社会福利的结果。

所谓&ldquo;人往高处走，水往低处流&rdquo;，在这种情况下农村人口当然想流动到城市。不设置&ldquo;围墙&rdquo;，就会出现农村人口向城市大规模涌入的问题。各城市的政府既想吸收农民工，因为工业发展需要农民工，但又不愿意让其&ldquo;入户&rdquo;，户籍制就竖起了一道&ldquo;门槛&rdquo;或&ldquo;围墙&rdquo;，把农民工挡在了社会福利之外。媒体和舆论这些年呼吁对户籍制度进行改革，认为其造成了&ldquo;社会不公&rdquo;，问题即在于此。

搞明白了这个道理，就知道户籍制度会在什么情况下被取消了。若农民的收入在农村与在城市能够拉平，与其贡献相匹配的话，农民就没有动力流动到城市，户籍制就形同虚设，废不废除都无关紧要了。

其实在这次户籍改革之前，东南沿海地区的农村，已经出现了一种状况，即农村户籍比城市户籍更&ldquo;值钱&rdquo;。为什么？因为东南沿海地区发展乡镇企业，要使用农村的集体用地。当地实行的是&ldquo;就地工业化&rdquo;，而不像西部的农民那样是到东南沿海地区来打工。因为使用了农村集体用地来发展工业，这些土地的价值大增，当地农民以&ldquo;股份&rdquo;的形式参与其中，享受分红。所以，在东南沿海的很多农村，即使农民不工作，也是&ldquo;地主&rdquo;，可以享受土地这种要素资源带来的收入，生活过得很好。由此带来的结果就是农民的收入比当地城市居民的收入可能还更高。在这次《意见》出台之后，有一个调查的结果是，如果户籍转入城市的条件是把既有土地的承包权还给国家，90%的农民是不愿意的。

所以，对东南沿海来说，户籍制取不取消，意义已经不大了。另外也应该看到，经济的发展有一个扩散的过程，现在中国也在进行产业转移，由沿海转入中西部。中西部地区也在进行类似十几二十年前东南沿海地区已经进行过的&ldquo;就地工业化&rdquo;。

这次的《意见》明确提出，对于城镇以及一些中小城市，在人口压力不大的情况下，要改革户籍制为居住证制度，让农民容易落户。原因就是这些城市的居民，相比于农村有农地转为工业用地、可享受分红的农民而言，已经没有什么优势了。这些地区的户籍制度实际上已经名存实亡，取消只是顺水推舟、自然而然的事情。

降低特大城市居民福利才能持久.<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;但这次对特大城市，如北上广这类城市的改革反而是强化了户籍制度。之前这些城市提出&ldquo;积分入户&rdquo;的政策，这次《意见》提出的是&ldquo;严格控制&rdquo;，也就是说，条件有可能比之前的&ldquo;积分入户&rdquo;政策更加苛刻。

原因何在？这是因为特大城市的福利特别高，如优质的医疗、教育资源等，不要说农村，就是中小城市也不具备。如果这些资源都是按照&ldquo;市价&rdquo;原则进行分配，谁出价高谁享有，也没有关系。但因为有户籍制度以及背后的社会福利存在，导致这些城市的居民实际上是以非常&ldquo;廉价&rdquo;的方式获得这些资源。比如现在一些特大城市的中小学按照就近入学原则分配学位，连考试都免了。医疗也有很多不菲的补贴。在这种情况下，不仅是外来的农民工，包括大学生、甚至一些大中城市的居民，也都想挤入这类特大城市。面对这种情况，政策应如何选择？

同样的道理，如果特大城市的居民的收入不是&ldquo;偏高&rdquo;，而是与其他大中城市、农村一样，民众收入是按其产出贡献&ldquo;拉平&rdquo;的(注意：这里说的&ldquo;拉平&rdquo;不是指人人的绝对收入完全一样的&ldquo;平均主义&rdquo;，而是指与其贡献相适应的相对收入，即收入除以其创造的价值的比例是一样的)，就不存在&ldquo;人往高处走&rdquo;，不存在民众想挤破头落户特大城市的问题。问题的关键是如何&ldquo;拉平&rdquo;。

一种方式是抬高社会福利，即提高特大城市之外的居民的收入。另一种方式就是拉低特大城市居民享有的福利水平。逻辑上只有这两条路。一说出来，一般民众的心理肯定是反对第二条路。所谓&ldquo;由俭入奢易，由奢入俭难&rdquo;，人性如此。所以在政治可行性上，第二条路难走。

但问题是第一条路是否可行呢？第一条路本质上是反市场的，是这些特大城市的政府注入了很多财政补贴，才使得户籍居民能够以&ldquo;廉价&rdquo;的方式获得这些优质的医疗教育资源。也就是说，特大城市的优质医疗教育资源对有城市户籍的居民的定价是&ldquo;扭曲&rdquo;的，价值与价格严重脱节。如果在这些特大城市工作的非本市户籍人口，都按照这种扭曲的价格享受这些优质的医疗教育资源，财政能否支撑下来？落户了一批，是否还有另外等候的，一批又一批源源不断地涌入？

西方发达国家就是以城市的税收去补贴周边的农村，以此来消除城乡差别。但它们经过数百年的发展，有相当的财富积累，在一段时间内是能够负担得起的。其次是绝大部分的西方发达国家，即使是人口最多的美国，与中国相比，都是地大物博人少，参与瓜分社会福利的人数较少，所以政府还能扛得住一段时间。不过，经过多年的瓜分，加上近年来经济危机的影响，西方政府的财政收入也支撑不下去了。这在日本和欧洲表现得很明显。因为这种政策下，居民得到的收入不是按照其产出贡献获得的，而是政府靠&ldquo;劫富济贫&rdquo;的方式，靠转移支付实现的。这种方式持续多年，最终整个社会的财富还是会支撑不下去。政府起先还可以借债度日，但最后连债券都发不出去，利息都支付不起，有的不得不以破产收场。美国因为有美元这个国际货币的印钞权，所以比其他发达国家能撑得更久一些，说白了是在透支美元的国际信用而已。

反观中国，资源条件本来就不好，地大但适宜耕种的土地少，物博其实谈不上，被人口众多这个大分母一除就半点都不博了。收入和财富的累积与欧美发达国家相比还是有所不足，一算人均就更少。如果走西方发达国家的道路，通过社会福利来填平城乡差异的话，中国政府的财政很快就会崩溃。口头上说说&ldquo;公共服务均等化&rdquo;那样讨好民众耳朵的话当然容易，但实际上做不到，勉强而为只会带来灾难性的后果。

所以唯一的办法就是降低特大城市居民&ldquo;偏高&rdquo;的社会福利。由于经济学上所说的规模经济效应，即使由市场自发决定，优质的教育和医疗资源也会集中在特大城市，把它分散到广大的小城市或农村反而是&ldquo;不经济&rdquo;的。但谁能享有这些优质的医疗教育资源呢？付费呗，谁付得起谁享有，由市场来决定。现在是政府人为搞一个&ldquo;户籍&rdquo;围墙来决定，围墙之内的人能享有，而围墙之外的人不能享有。这是政府划分出来的&ldquo;特权&rdquo;了。由&ldquo;市价&rdquo;来决定资源的分配，看似不公平，其实最公平。穷人怎么办？就像市场会满足不同收入群体的需求，提供不同质量档次的商品一样，穷人会购买质量差一些的而已。每个人享受的商品和服务，由其收入、也就是由其对社会的产出贡献决定，每一元的享受背后都有事先对社会作出的贡献去支撑，这样的享受才能持久。

房价是调控人口的最佳选项<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与此相关的另一个问题是：中国如此之大，人口如此之多，中国的城市化不能选择像日本的东京、墨西哥的墨西哥城那种模式，即全国的大量人口高度集中在少数几个特大城市或城市群里。政府的确需要控制特大城市的人口规模，问题是怎么调控，是用行政手段还是用市场手段。现在已经不可能真的去筑起一道实体围墙来阻止外来人口流入了，因为它不符合现代经济需要人口自由流动的原则。若用现在的户籍制度来调控，就是外来人口可以自由来去，但要自食其力，不给社会福利。这对特大城市的外来人口来说，其实是很公平的，谈不上&ldquo;歧视&rdquo;。这些外来人口能否在特大城市待下去，是由他的竞争力、由他的收入决定的。好比华为的工资收入高，但能否进去并长久地待下去，是由应聘者的工作能力决定的。城市与企业在这个意义上没有区别，民众也要靠实力生存，优胜劣汰。

其实，市场调控人口的来去和分布，最重要的一个变量就是房价。因为要留在城市之内就会有居住的需求，无论是买还是租。特大城市聚集了大量的人口，房价自然就要上升。如果个体在市场的竞争力不足，收入不够高，买不起房甚至租不起房，他自然就会离开，迁移到一个他的收入能够负担得了的小城市甚或农村。这看似对底层民众很冷酷，但冷静地想一想，企业的运作规则不就是如此吗？以&ldquo;房价&rdquo;来调整人口的分布，是最合理，也是最有效的。</p>
                        </div>
    </div>
    
    
<!--单行列开始表-->
  </div>
    <!--右侧内容结束-->
  <div class="clear"></div>
</div>
<div id="foot">
  <div class="lan">
     <div class="message">
        <div class="left_foot floatleft">
        <img src="/static/images/sm1.jpg" border="0" class="margintop27" />
        </div>
        <div class="right_foot floatleft">
        <div class=" foot_text">联系电话：18751466500</div>
        <div class=" foot_text1"><a href="{{url_for('show_index')}}" target="_blank">关于信易居</a> | <a href="http://company.zhaopin.com/CC566889122.htm" target="_blank">智联招聘</a> | <a href="http://jobs.51job.com/suzhou-gyyq/co3041030.html" target="_blank">前程无忧</a>  | <a href="{{url_for('show_hire')}}" target="_blank">加入我们</a></div>
        <div class=" foot_text2">苏州信易居房地产经纪有限公司</div>
        </div>
     </div>
  </div>
  <div class="shenlan"></div>
</div>


<!--foot end-->
<form name="head"><input type="hidden" value="shouye" id="location"></form>
<script src="/static/js/tools.js"></script> 
<script src="/static/js/index.js"></script> 
<script type="text/javascript">

var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");

document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff6126b0e0bcc2a0aeed4ca0d612ad4db' type='text/javascript'%3E%3C/script%3E"));

</script><script src="/static/js/h.js" type="text/javascript"></script><a href="http://tongji.baidu.com/hm-web/welcome/ico?s=f6126b0e0bcc2a0aeed4ca0d612ad4db" target="_blank"><img border="0" src="/static/images/21.gif" width="20" height="20"></a>


</body></html>