<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link href="/static/css/index2.css" rel="stylesheet" type="text/css">
<link href="/static/css/index1.css" rel="stylesheet" type="text/css">
<link href="/static/css/navigation.css" rel="stylesheet" type="text/css">
<link href="/static/css/foot.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery-1.6.4.min.js"></script>
<title>行业新闻</title>
<link rel="Shortcut Icon" href="/static/images/favicon.ico"/>
<script type="text/javascript">
var _bdhm_top = 0;
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
var _bdhm_tim = new Image(1,1);
_bdhm_tim.id = "bdhmPerimg";
_bdhm_tim.src = _bdhmProtocol + "hm.baidu.com/_tt.gif?si=f6126b0e0bcc2a0aeed4ca0d612ad4db&rnd=" + Math.round(Math.random()*2147483647);
_bdhm_tim.onload=function(){_bdhm_top = 1;}
</script>
</head>

<body>

<body>
 <div id="navigation">
  <div class="lan"></div>
  <div class="hui">
     <div class="content">
        <div class="logo floatleft"><a href="{{url_for('show_index')}}" target="_blank"><img src="/static/images/logo.png" border="0"></a></div>
        <div class="slogan floatleft"></div>
        <div class="sign floatright"></div>
        <div class="phone floatright"></div>
        <div class="clear"></div>
     </div>
  </div>

  <div class="nav">
    <!-- 导航开始 -->
        <div class="navv"> 
       <ul>
       <li><a href="{{url_for('show_index')}}" id="shouye" class="current">首页</a></li>
       <li><a href="{{url_for('show_about')}}" id="qylc" class="">公司概况</a>                                                                                                                                                                                                                                                                                                                                                                                                         
       </li>
       <li><a href="{{url_for('show_gswh')}}" id="zlwh">公司文化</a>    
       </li>
       <li><a href="{{url_for('show_news')}}">新闻中心</a>
       </li>
       <li><a href="{{url_for('show_team')}}" id="tdfc">团队风采</a>   
       </li>
       <li><a href="{{url_for('show_hire')}}" id="jrwm">招聘信息</a>
       </li>
         <li><a href="{{url_for('show_jpfy')}}">精品房源</a>
       </li>
       <div class="clear"></div>
       </ul>
     </div>
     <!-- 导航结束 -->
     <div class="shenlan"></div>
     <div class="shadow1"></div>
     <div class="shadow2"></div>
  </div>
</div>
<div id="conntain">
  <!--banner-->
  <div class="neirong1">
   </div>
  <!--banner-->
  <!--2级导航-->
  
	  <script language="javascript">
		  var para = 4;
		  </script>
		  <div class="daohang_2">
     <div class="bordersolid"><span class="font_lan">行业新闻</span></div>
     <div class="daohang_title margintop15">
     <a href="{{url_for('show_news')}}">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="current f_yh14" id="qyxwmark">行业新闻</span>
     </a></div>
   </div>
   <script language="javascript">		
	if(para==4){		
	  var mark = document.getElementById("qyxwmark");
	  mark.setAttribute("class","current f_yh14");
	}else if(para==5){
	 var mark = document.getElementById("qyzxmark");
	 mark.setAttribute("class","current f_yh14");
	}else if(para==6){	
	  var mark = document.getElementById("pwshmark");
	  mark.setAttribute("class","current f_yh14");	
	}else if(para==7){	
	  var mark = document.getElementById("jcsjmark");
	  mark.setAttribute("class","current f_yh14");
	}
	
</script>
	
  
  
  
   <!--2级导航结束-->
   <!--右侧内容-->
   
   <div class="wenzikuang marginbottom80">
     <div class="bordersolid font_lan">苏州二手房买卖火的不行，挂牌均价14873元/平方米</div>
<!--单行列开始表-->
     <div class="margintop30 duanluo font_hui_14"><p>   数据显示，11月苏州二手房挂牌均价为14873元/平方米，较10月环比增长3.42%。从苏州六大区域的具体情况来看，相较于10月，除了园区、吴中区的涨幅依然位列第一、二名外，吴江区挂牌均价涨幅达到了4.28%，其排名由10月份的第5名跃居到了第3名，高新区、姑苏区和相城区则分别位列第4、5、6位。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;统观2015年已经过去的11个月的成交总量，11月份单月的成交量赫然位列榜首。业内人士分析，11月中央高层重提“去库存”战略，强调楼市需要化解房地产库存，促进房地产业持续发展，这一内容刺激了整个楼市行情，各地商品房交易的重点纷纷转向库存房源。而相形之下，苏州库存房源量并不大，依照日常成交速度，可选择的库存房源逐步减少，因此越来越多的购房者将目光转向了二手房，使得二手房交易随之水涨船高。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;此外，从今年6月初至11月底苏州相继展开了六次土拍，使得园区、新区以及吴中区地王频现。而11月24日土拍结束后，更是促使几大区域的最高楼面价被刷新，部分楼盘闻风而动纷纷涨价。房价上涨的态势使得部分购房者持币转投二手房市场，从而增加了二手房市场的活跃度，加之10月推行的多项利好政策，使得购房者在购房资金筹备、购房手续办理等方面都收获了便利，更是促成了整个11月苏州二手房交易的火热。</p>
                        </div>
    </div>
    
    
<!--单行列开始表-->
  </div>
    <!--右侧内容结束-->
  <div class="clear"></div>
</div>
<div id="foot">
  <div class="lan">
     <div class="message">
        <div class="left_foot floatleft">
        <img src="/static/images/sm1.jpg" border="0" class="margintop27" />
        </div>
        <div class="right_foot floatleft">
       <div class=" foot_text">联系电话：18751466500</div>
        <div class=" foot_text1"><a href="{{url_for('show_index')}}" target="_blank">关于信易居</a> | <a href="http://company.zhaopin.com/CC566889122.htm" target="_blank">智联招聘</a> | <a href="http://jobs.51job.com/suzhou-gyyq/co3041030.html" target="_blank">前程无忧</a> | <a href="{{url_for('show_hire')}}" target="_blank">加入我们</a></div>
        <div class=" foot_text2">苏州信易居房地产经纪有限公司</div>
        </div>
     </div>
  </div>
  <div class="shenlan"></div>
</div>


<!--foot end-->



</body></html>