<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link href="/static/css/index2.css" rel="stylesheet" type="text/css">
<link href="/static/css/index1.css" rel="stylesheet" type="text/css">
<link href="/static/css/navigation.css" rel="stylesheet" type="text/css">
<link href="/static/css/foot.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery-1.6.4.min.js"></script>
<title>行业新闻</title>
<link rel="Shortcut Icon" href="/static/images/favicon.ico"/>
<script type="text/javascript">
var _bdhm_top = 0;
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
var _bdhm_tim = new Image(1,1);
_bdhm_tim.id = "bdhmPerimg";
_bdhm_tim.src = _bdhmProtocol + "hm.baidu.com/_tt.gif?si=f6126b0e0bcc2a0aeed4ca0d612ad4db&rnd=" + Math.round(Math.random()*2147483647);
_bdhm_tim.onload=function(){_bdhm_top = 1;}
</script>
</head>

<body>

<body>
 <div id="navigation">
  <div class="lan"></div>
  <div class="hui">
     <div class="content">
        <div class="logo floatleft"><a href="{{url_for('show_index')}}" target="_blank"><img src="/static/images/logo.png" border="0"></a></div>
        <div class="slogan floatleft"></div>
        <div class="sign floatright"></div>
        <div class="phone floatright"></div>
        <div class="clear"></div>
     </div>
  </div>

  <div class="nav">
    <!-- 导航开始 -->
        <div class="navv"> 
       <ul>
       <li><a href="{{url_for('show_index')}}" id="shouye" class="current">首页</a></li>
       <li><a href="{{url_for('show_about')}}" id="qylc" class="">公司概况</a>                                                                                                                                                                                                                                                                                                                                                                                                         
       </li>
       <li><a href="{{url_for('show_gswh')}}" id="zlwh">公司文化</a>    
       </li>
       <li><a href="{{url_for('show_news')}}">新闻中心</a>
       </li>
       <li><a href="{{url_for('show_team')}}" id="tdfc">团队风采</a>   
       </li>
       <li><a href="{{url_for('show_hire')}}" id="jrwm">招聘信息</a>
       </li>
         <li><a href="{{url_for('show_jpfy')}}">精品房源</a>
       </li>
       <div class="clear"></div>
       </ul>
     </div>
     <!-- 导航结束 -->
     <div class="shenlan"></div>
     <div class="shadow1"></div>
     <div class="shadow2"></div>
  </div>
</div>
<div id="conntain">
  <!--banner-->
   <div class="neirong1">
   <div class="banner1"><img src="/static/images/banner2.jpg" /></div>
  </div>

  <!--banner-->
  <!--2级导航-->
  
	  <script language="javascript">
		  var para = 4;
		  </script>
		  <div class="daohang_2">
     <div class="bordersolid"><span class="font_lan">行业新闻</span></div>
     <div class="daohang_title margintop15">
     <a href="{{url_for('show_news')}}">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="current f_yh14" id="qyxwmark">行业新闻</span>
     </a></div>
   </div>
   <script language="javascript">		
	if(para==4){		
	  var mark = document.getElementById("qyxwmark");
	  mark.setAttribute("class","current f_yh14");
	}else if(para==5){
	 var mark = document.getElementById("qyzxmark");
	 mark.setAttribute("class","current f_yh14");
	}else if(para==6){	
	  var mark = document.getElementById("pwshmark");
	  mark.setAttribute("class","current f_yh14");	
	}else if(para==7){	
	  var mark = document.getElementById("jcsjmark");
	  mark.setAttribute("class","current f_yh14");
	}
	
</script>
	
  
  
   <!--2级导航结束-->
   <!--右侧内容-->
   <div class="wenzikuang marginbottom80">
     <div class="bordersolid font_lan">行业新闻</div>
<!--单行列开始表-->
	<div class="margintop30"></div>
	
     <div class="liebiao_title height34">
       <div class="wenzi_003"></div>
       <div class="wenzi_001 width368"><a class="font_hui_14" href="{{url_for('show_news1')}}" target="_blank">苏州二手房买卖火的不行，挂牌均价14873元/平方米</a></div>
       <div class="wenzi_002"><a class="font_hui_12" href="{{url_for('show_news1')}}" target="_blank">[2015-12-18]</a></div>
     </div>

       <div class="liebiao_title height34">
       <div class="wenzi_003"></div>
       <div class="wenzi_001 width368"><a class="font_hui_14" href="{{url_for('show_news14')}}" target="_blank">不得不早买房的18个理由</a></div>
       <div class="wenzi_002"><a class="font_hui_12" href="{{url_for('show_news14')}}" target="_blank">[2015-12-16]</a></div>
     </div>
    
     <div class="liebiao_title height34">
       <div class="wenzi_003"></div>
       <div class="wenzi_001 width368"><a class="font_hui_14" href="{{url_for('show_news2')}}" target="_blank">社科院;房产税推进缓慢影响房地产调控效果</a></div>
       <div class="wenzi_002"><a class="font_hui_12" href="{{url_for('show_news2')}}" target="_blank">[2015-12-15]</a></div>
     </div>
    
     <div class="liebiao_title height34">
       <div class="wenzi_003"></div>
       <div class="wenzi_001 width368"><a class="font_hui_14" href="{{url_for('show_news3')}}" target="_blank">房贷利息抵扣个税可行性大，150万房贷月供减少而成</a></div>
       <div class="wenzi_002"><a class="font_hui_12" href="{{url_for('show_news3')}}" target="_blank">[2015-12-14]</a></div>
     </div>
    
     <div class="liebiao_title height34">
       <div class="wenzi_003"></div>
       <div class="wenzi_001 width368"><a class="font_hui_14" href="{{url_for('show_news4')}}" target="_blank">新一轮政策信号趋暖 中国百城房价“七月连涨”</a></div>
       <div class="wenzi_002"><a class="font_hui_12" href="{{url_for('show_news4')}}" target="_blank">[2015-12-02]</a></div>
     </div>
    
     <div class="liebiao_title height34">
       <div class="wenzi_003"></div>
       <div class="wenzi_001 width368"><a class="font_hui_14" href="{{url_for('show_news5')}}" target="_blank">11月百城房价指数出炉，苏州房价涨幅居百城之首</a></div>
       <div class="wenzi_002"><a class="font_hui_12" href="{{url_for('show_news5')}}" target="_blank">[2015-12-01]</a></div>
     </div>
    
     <div class="liebiao_title height34">
       <div class="wenzi_003"></div>
       <div class="wenzi_001 width368"><a class="font_hui_14" href="{{url_for('show_news6')}}" target="_blank">告诉你年前买房的五大好处</a></div>
       <div class="wenzi_002"><a class="font_hui_12" href="{{url_for('show_news6')}}" target="_blank">[2015-11-29]</a></div>
     </div>
    
     <div class="liebiao_title height34">
       <div class="wenzi_003"></div>
       <div class="wenzi_001 width368"><a class="font_hui_14" href="{{url_for('show_news7')}}" target="_blank">我国或将推出房地产刺激政策</a></div>
       <div class="wenzi_002"><a class="font_hui_12" href="{{url_for('show_news7')}}" target="_blank">[2015-11-28]</a></div>
     </div>
    
     <div class="liebiao_title height34">
       <div class="wenzi_003"></div>
       <div class="wenzi_001 width368"><a class="font_hui_14" href="{{url_for('show_news8')}}" target="_blank">国家住房银行等待顶层设计 设计基本条件已经具备</a></div>
       <div class="wenzi_002"><a class="font_hui_12" href="{{url_for('show_news8')}}" target="_blank">[2015-11-26]</a></div>
     </div>
    
     <div class="liebiao_title height34">
       <div class="wenzi_003"></div>
       <div class="wenzi_001 width368"><a class="font_hui_14" href="{{url_for('show_news9')}}" target="_blank">重磅！房地产将有大事发生</a></div>
       <div class="wenzi_002"><a class="font_hui_12" href="{{url_for('show_news9')}}" target="_blank">[2015-11-24]</a></div>
     </div>
    
     <div class="liebiao_title height34">
       <div class="wenzi_003"></div>
       <div class="wenzi_001 width368"><a class="font_hui_14" href="{{url_for('show_news10')}}" target="_blank">去库存，三四线城市和中小房企的压力更大</a></div>
       <div class="wenzi_002"><a class="font_hui_12" href="{{url_for('show_news10')}}" target="_blank">[2015-11-23]</a></div>
     </div>
    
     <div class="liebiao_title height34">
       <div class="wenzi_003"></div>
       <div class="wenzi_001 width368"><a class="font_hui_14" href="{{url_for('show_news11')}}" target="_blank">央行：11月20日起下调分行常备借贷便利利率</a></div>
       <div class="wenzi_002"><a class="font_hui_12" href="{{url_for('show_news11')}}" target="_blank">[2015-11-21]</a></div>
     </div>
    
     <div class="liebiao_title height34">
       <div class="wenzi_003"></div>
       <div class="wenzi_001 width368"><a class="font_hui_14" href="{{url_for('show_news12')}}" target="_blank">新版住房公积金管理条例征求意见;放宽提取条件</a></div>
       <div class="wenzi_002"><a class="font_hui_12" href="{{url_for('show_news12')}}" target="_blank">[2015-11-20]</a></div>
     </div>
    
     <div class="liebiao_title height34">
       <div class="wenzi_003"></div>
       <div class="wenzi_001 width368"><a class="font_hui_14" href="{{url_for('show_news13')}}" target="_blank">专家：户籍改革重点在特大城市，以房价调控人口</a></div>
       <div class="wenzi_002"><a class="font_hui_12" href="{{url_for('show_news13')}}" target="_blank">[2015-11-19]</a></div>
     </div>
    
    
<!--单行列开始表-->
  </div>
    <!--右侧内容结束-->
  <div class="clear"></div>
</div>
<div id="foot">
  <div class="lan">
     <div class="message">
        <div class="left_foot floatleft">
        <img src="/static/images/sm1.jpg" border="0" class="margintop27" />
        </div>
        <div class="right_foot floatleft">
        <div class=" foot_text">联系电话：18751466500</div>
        <div class=" foot_text1"><a href="{{url_for('show_index')}}" target="_blank">关于信易居</a> | <a href="http://company.zhaopin.com/CC566889122.htm" target="_blank">智联招聘</a> | <a href="http://jobs.51job.com/suzhou-gyyq/co3041030.html" target="_blank">前程无忧</a> | <a href="{{url_for('show_hire')}}" target="_blank">加入我们</a></div>
        <div class=" foot_text2">苏州信易居房地产经纪有限公司</div>
        </div>
     </div>
  </div>
  <div class="shenlan"></div>
</div>


<!--foot end-->



</body></html>