<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link href="/static/css/index2.css" rel="stylesheet" type="text/css">
<link href="/static/css/index1.css" rel="stylesheet" type="text/css">
<link href="/static/css/navigation.css" rel="stylesheet" type="text/css">
<link href="/static/css/foot.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery-1.6.4.min.js"></script>
<title>行业新闻</title>
<link rel="Shortcut Icon" href="/static/images/favicon.ico"/>
<script type="text/javascript">
var _bdhm_top = 0;
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
var _bdhm_tim = new Image(1,1);
_bdhm_tim.id = "bdhmPerimg";
_bdhm_tim.src = _bdhmProtocol + "hm.baidu.com/_tt.gif?si=f6126b0e0bcc2a0aeed4ca0d612ad4db&rnd=" + Math.round(Math.random()*2147483647);
_bdhm_tim.onload=function(){_bdhm_top = 1;}
</script>
</head>

<body>

<body>
 <div id="navigation">
  <div class="lan"></div>
  <div class="hui">
     <div class="content">
        <div class="logo floatleft"><a href="{{url_for('show_index')}}" target="_blank"><img src="/static/images/logo.png" border="0"></a></div>
        <div class="slogan floatleft"></div>
        <div class="sign floatright"></div>
        <div class="phone floatright"></div>
        <div class="clear"></div>
     </div>
  </div>

  <div class="nav">
    <!-- 导航开始 -->
        <div class="navv"> 
       <ul>
       <li><a href="{{url_for('show_index')}}" id="shouye" class="current">首页</a></li>
       <li><a href="{{url_for('show_about')}}" id="qylc" class="">公司概况</a>                                                                                                                                                                                                                                                                                                                                                                                                         
       </li>
       <li><a href="{{url_for('show_gswh')}}" id="zlwh">公司文化</a>    
       </li>
       <li><a href="{{url_for('show_news')}}">新闻中心</a>
       </li>
       <li><a href="{{url_for('show_team')}}" id="tdfc">团队风采</a>   
       </li>
       <li><a href="{{url_for('show_hire')}}" id="jrwm">招聘职位</a>
       </li>
         <li><a href="{{url_for('show_jpfy')}}">精品房源</a>
       </li>
       <div class="clear"></div>
       </ul>
     </div>
     <!-- 导航结束 -->
     <div class="shenlan"></div>
     <div class="shadow1"></div>
     <div class="shadow2"></div>
  </div>
</div>
<div id="conntain">
  <!--banner-->
  <div class="neirong1">
   </div>
  <!--banner-->
  <!--2级导航-->
  
	  <script language="javascript">
		  var para = 4;
		  </script>
		  <div class="daohang_2">
     <div class="bordersolid"><span class="font_lan">行业新闻</span></div>
     <div class="daohang_title margintop15">
     <a href="{{url_for('show_news')}}">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="current f_yh14" id="qyxwmark">行业新闻</span>
     </a></div>
   </div>
   <script language="javascript">		
	if(para==4){		
	  var mark = document.getElementById("qyxwmark");
	  mark.setAttribute("class","current f_yh14");
	}else if(para==5){
	 var mark = document.getElementById("qyzxmark");
	 mark.setAttribute("class","current f_yh14");
	}else if(para==6){	
	  var mark = document.getElementById("pwshmark");
	  mark.setAttribute("class","current f_yh14");	
	}else if(para==7){	
	  var mark = document.getElementById("jcsjmark");
	  mark.setAttribute("class","current f_yh14");
	}
	
</script>
	
  
  
  
   <!--2级导航结束-->
   <!--右侧内容-->
   
   <div class="wenzikuang marginbottom80">
     <div class="bordersolid font_lan">重磅！房地产将有大事发生</div>
<!--单行列开始表-->
     <div class="margintop30 duanluo font_hui_14"><p>   
眼看着还有5周多，2015年就将过去，但仍然有一箩筐的大事排着队，等着到来：
11月30日，人民币申请纳入&ldquo;特别提款权&rdquo;（SDR）一篮子货币将在国际货币基金组织讨论、表决，通过的几率甚大。
12月初，一年一度的中央经济工作会议即将召开，这是为明年经济发展定调子的。
12月晚些时候，美联储很有可能宣布加息。
12月，人民币还会有一次降息，一次降准。在美元加息前后，汇率或许还会有一次波动。
就在这期间，中国房地产也将有一件大事发生，这就是中央城市工作会议可能会召开。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;据媒体报道，这是国家时隔37年之后，再次召开&ldquo;城市工作会议&rdquo;。上次是1978年，上上次是1963年，上上上次是1962年。
会议将讨论什么？其实11月10日开过一次&ldquo;中央财经领导小组第十一次会议&rdquo;，里面相当一部分内容，被媒体认为跟&ldquo;城市工作会议&rdquo;相关。作者在此前的文章中，引述过习主席在会上讲的两段比较重要的话，这次再引述一次：
1、要化解房地产库存，促进房地产业持续发展。
2、做好城市工作，首先要认识、尊重、顺应城市发展规律，端正城市发展指导思想。要推进农民工市民化，加快提高户籍人口城镇化率。要增强城市宜居性，引导调控城市规模，优化城市空间布局，加强市政基础设施建设，保护历史文化遗产。要改革完善城市规划，改革规划管理体制。要改革城市管理体制，理顺各部门职责分工，提高城市管理水平，落实责任主体。要加强城市安全监管，建立专业化、职业化的救灾救援队伍。
第一段话，已经被充分解读过，被认为是新一轮救市政策出台的强烈信号。但对于第二段话，大家似乎都没有太关注。这里面隐含了几个意思：
第一，城镇化会进一步提速。其中户籍改革将有大动作，以提高&ldquo;户籍人口城镇化率&rdquo;。估计除了少数核心城市，绝大多数城市落户限制会放宽。这对于经济繁华地区的房地产，将构成比较大的利好。
第二、&ldquo;要增强城市宜居性，引导调控城市规模&rdquo;这两句话意味，国家还是会力求城镇化均衡发展，特大城市人口规模会继续适当控制。但由于城市间发展机遇的不均衡，中国城镇化已经失衡。国家对特大城市设立的户籍门槛，作用日减。
;第三，城市建设，特别是地下管网的补课，将会是一大课题。这将增加城市宜居性、抗灾能力，提升城市价值。
第四，城市管理体制可能会有所调整。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;结论：<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;此次&ldquo;城市工作会议&rdquo;对房地产将构成利好。在&ldquo;增加城市宜居性&rdquo;的要求下，&ldquo;有权力的城市&rdquo;（直辖市、省会城市、计划单列市）将获得更多利好，城市价值率先得到提升。此外，随着户籍政策适当放开，城市之间必然爆发&ldquo;人口争夺战&rdquo;，相当一批城市会出台购房入户的刺激政策。
这些信息你也应该知道
2万亿利好砸向楼市
20日，国务院法制办在其官方网站上公布了《住房公积金管理条例（修订送审稿）》，公开征求意见。根据住建部的说明，以及业内人士的粗略推算，条例修订后可望陆续释放出大约2万亿以上的资金，以支持中国房地产消费！
我们先看一下，2万亿是怎么推算出来的。
根据住建部提供的数字：截至2015年7月底，全国住房公积金缴存职工1.1亿人，缴存总额8.31万亿元，提取总额4.34万亿元，缴存余额3.97万亿元；累计向2300多万户职工家庭发放个人住房贷款4.75万亿元，贷款余额2.88万亿元。
数字很多，很乱。没关系，你只用记住两个数字：3.97万亿，这是积淀下来的资金；2.88万亿，这是贷款余额。也就是说，全国住房公积金账上趴了3.97-2.88=1.09万亿的闲置资金，贷出去的钱是2.88万亿。
&ldquo;今年不买房就再等30年 &rdquo;
多次降息降准、公积金异地贷款、首套房最低首付比例下调&hellip;&hellip;今年，楼市利好政策频出。在这样的情况下，有人在想也许房价还会降，犹豫要不要再等等。
对此，任志强在一次讨论会上，狠狠地给犹豫不决的人泼了一盆冷水：&ldquo;只要经济是增长的，房地产肯定在持续增长，2015年的房价还将继续上涨！若今年不买房，那就再等30年吧！&rdquo;
任志强的逻辑是，中国经济不存在下行通道的问题，即便是台阶调整，也不是下行通道，所以房地产也不会是下行通道。
一线城市迈入豪宅时代
近一年来，关于我国一线城市北京、上海、深圳&ldquo;地王&rdquo;频现、房价飙升、豪宅扎堆入市等新闻不断曝出。中国经济网记者就一线城市楼市发展情况进行梳理发现，北京、上海、深圳楼市已迈入豪宅时代。我国香港二手房平均每平方米要卖10万港元，内地一线城市房价，已在逐步追撵香港的路上。<br>
北京：
北京明年"10万元+"楼盘或超50个，六环内面临全豪宅化。过去10年，豪宅是北京楼市的小众市场，因为售价&ldquo;10万元+&rdquo;的项目并不多，供需还较为平衡。但2015年以来，扣除配建及竞建部分，成交地块中纯商住宅的实际楼面价超过5万元/平方米的住宅用地已经有10宗之多，且遍布京城四方，未来六环以内全城&ldquo;豪宅化&rdquo;几乎已成定局。<br>
上海：
上海地王刷不停，千万级豪宅疯狂销售6000余套。据上海中原地产研究咨询部数据显示，截止到11月17日，上海2015年以来单价6万元以上的豪宅共成交6103套。成交总面积达114.18万平米，几乎为过去两年之和，火爆程度可以说&ldquo;亮瞎眼&rdquo;。<br>
深圳：
深圳旧改小区也能晋升顶级豪宅，未来或超香港。备受关注的一线城市房价最新数据近日出炉，数据显示，10月北上广深房价同比依然保持正增长，其中涨幅最高的城市深圳，同比涨幅达到了40.5%。深圳经济持续高速发展，创造了一批新富阶层，他们成为豪宅的买单者，一些港澳台及海外人士也涌向深圳楼市。近期，深圳住宅旧改标杆项目鹿丹村将蝶变成为深圳顶级豪宅之一，令社会哗然。</p>
                        </div>
    </div>
    
    
<!--单行列开始表-->
  </div>
    <!--右侧内容结束-->
  <div class="clear"></div>
</div>
<div id="foot">
  <div class="lan">
     <div class="message">
        <div class="left_foot floatleft">
        <img src="/static/images/sm1.jpg" border="0" class="margintop27" />
        </div>
        <div class="right_foot floatleft">
        <div class=" foot_text">联系电话：18751466500</div>
        <div class=" foot_text1"><a href="{{url_for('show_index')}}" target="_blank">关于信易居</a> | <a href="http://company.zhaopin.com/CC566889122.htm" target="_blank">智联招聘</a> | <a href="http://jobs.51job.com/suzhou-gyyq/co3041030.html" target="_blank">前程无忧</a> | <a href="{{url_for('show_hire')}}" target="_blank">加入我们</a></div>
        <div class=" foot_text2">苏州信易居房地产经纪有限公司</div>
        </div>
     </div>
  </div>
  <div class="shenlan"></div>
</div>


<!--foot end-->
<form name="head"><input type="hidden" value="shouye" id="location"></form>
<script src="/static/js/tools.js"></script> 
<script src="/static/js/index.js"></script> 
<script type="text/javascript">

var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");

document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff6126b0e0bcc2a0aeed4ca0d612ad4db' type='text/javascript'%3E%3C/script%3E"));

</script><script src="/static/js/h.js" type="text/javascript"></script><a href="http://tongji.baidu.com/hm-web/welcome/ico?s=f6126b0e0bcc2a0aeed4ca0d612ad4db" target="_blank"><img border="0" src="/static/images/21.gif" width="20" height="20"></a>


</body></html>