<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link href="/static/css/index2.css" rel="stylesheet" type="text/css">
<link href="/static/css/index1.css" rel="stylesheet" type="text/css">
<link href="/static/css/navigation.css" rel="stylesheet" type="text/css">
<link href="/static/css/foot.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery-1.6.4.min.js"></script>
<title>行业新闻</title>
<link rel="Shortcut Icon" href="/static/images/favicon.ico"/>
<script type="text/javascript">
var _bdhm_top = 0;
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
var _bdhm_tim = new Image(1,1);
_bdhm_tim.id = "bdhmPerimg";
_bdhm_tim.src = _bdhmProtocol + "hm.baidu.com/_tt.gif?si=f6126b0e0bcc2a0aeed4ca0d612ad4db&rnd=" + Math.round(Math.random()*2147483647);
_bdhm_tim.onload=function(){_bdhm_top = 1;}
</script>
</head>

<body>

<body>
 <div id="navigation">
  <div class="lan"></div>
  <div class="hui">
     <div class="content">
        <div class="logo floatleft"><a href="{{url_for('show_index')}}" target="_blank"><img src="/static/images/logo.png" border="0"></a></div>
        <div class="slogan floatleft"></div>
        <div class="sign floatright"></div>
        <div class="phone floatright"></div>
        <div class="clear"></div>
     </div>
  </div>

  <div class="nav">
    <!-- 导航开始 -->
        <div class="navv"> 
       <ul>
       <li><a href="{{url_for('show_index')}}" id="shouye" class="current">首页</a></li>
       <li><a href="{{url_for('show_about')}}" id="qylc" class="">公司概况</a>                                                                                                                                                                                                                                                                                                                                                                                                         
       </li>
       <li><a href="{{url_for('show_gswh')}}" id="zlwh">公司文化</a>    
       </li>
       <li><a href="{{url_for('show_news')}}">新闻中心</a>
       </li>
       <li><a href="{{url_for('show_team')}}" id="tdfc">团队风采</a>   
       </li>
       <li><a href="{{url_for('show_hire')}}" id="jrwm">招聘职位</a>
       </li>
         <li><a href="{{url_for('show_jpfy')}}">精品房源</a>
       </li>
       <div class="clear"></div>
       </ul>
     </div>
     <!-- 导航结束 -->
     <div class="shenlan"></div>
     <div class="shadow1"></div>
     <div class="shadow2"></div>
  </div>
</div>
<div id="conntain">
  <!--banner-->
  <div class="neirong1">
   </div>
  <!--banner-->
  <!--2级导航-->
  
	  <script language="javascript">
		  var para = 4;
		  </script>
		  <div class="daohang_2">
     <div class="bordersolid"><span class="font_lan">行业新闻</span></div>
     <div class="daohang_title margintop15">
     <a href="{{url_for('show_news')}}">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="current f_yh14" id="qyxwmark">行业新闻</span>
     </a></div>
   </div>
   <script language="javascript">		
	if(para==4){		
	  var mark = document.getElementById("qyxwmark");
	  mark.setAttribute("class","current f_yh14");
	}else if(para==5){
	 var mark = document.getElementById("qyzxmark");
	 mark.setAttribute("class","current f_yh14");
	}else if(para==6){	
	  var mark = document.getElementById("pwshmark");
	  mark.setAttribute("class","current f_yh14");	
	}else if(para==7){	
	  var mark = document.getElementById("jcsjmark");
	  mark.setAttribute("class","current f_yh14");
	}
	
</script>
	
  
  
  
   <!--2级导航结束-->
   <!--右侧内容-->
   
   <div class="wenzikuang marginbottom80">
     <div class="bordersolid font_lan">去库存，三四线城市和中小房企的压力更大</div>
<!--单行列开始表-->
     <div class="margintop30 duanluo font_hui_14"><p>   
作为国民经济支柱产业，房地产市场高库存既是宏观经济增长的痛点，也有可能带来金融体系的系统性风险，因此，高企的库存，非去不可。10月23日以来，决策层先后在不同场合谈到房地产，并传递出明确的&ldquo;去库存&rdquo;信号。在宏观经济增速放缓的背景下，高层频繁提及房地产，或许透露出更为积极的稳定楼市态度。如何化解高企的库存，《每日经济新闻》记者调查发现，不同规模的房企，在不同的城市面临截然不同的去化形势和任务。

10月23日以来，习近平主席和李克强总理先后在不同场合谈到房地产，并传递出明确的&ldquo;去库存&rdquo;信号。在宏观经济增速放缓的背景下，高层频繁提及房地产，或许透露出更为积极的稳定楼市态度。

作为国民经济支柱产业，房地产市场去库存既是稳定经济增长所需，又是防范金融体系风险的重要举措。高企的库存，非去不可。然而，《每日经济新闻》记者调查发现，不同规模的房企，在不同的城市面临截然不同的去化形势和任务。<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当前的形势：城市分化

得益于央行接连降息降准，以及宽松性政策的出台，自5月份开始，房企销售情况明显好转。根据多家研究机构的统计数据显示，截至10月底，恒大、龙光等提前完成全年销售目标。华润、金茂等多家房企的销售目标达成率均超过80%。

不过，这并不意味着所有操盘手都可以提前进入&ldquo;度假模式&rdquo;。一方面，部分房企目标完成情况较差，&ldquo;拼到最后一天&rdquo;的情况在年末依旧会上演；另一方面，由于市场回暖的结构性特征明显，对于不少库存压力较大的区域而言，如何利用四季度的销售旺季加紧出货，成为不少操盘手的难题。

在中原监测的21个城市中，11个城市10月库存量较上半年末有所增加，从消化周期来看，三成城市超过一年，另有三成城市消化周期为半年。

民生证券研究院固定收益组负责人李奇霖表示，对于房地产市场的形势，首先是目前区域分化很明显。一二线城市由于流动性强，且货币政策的持续宽松从一定程度上抵消了经济放缓的影响，房地产市场已呈现一定的复苏迹象。三四线城市人口大量流出，面临着高库存和低需求的情况，房地产企业也会将重心转向一二线城市，加剧区域分化。

中国房地产数据研究院执行院长陈晟分析认为，明年房地产市场分化的形势会进一步加剧，一线城市仍然保持一定的热度，二线加城市也会不错，三四线城市有库存压力，有一些得到城镇化支持的镇域市场也会比较积极。

房地产与金融资深评论人黄立冲表示，虽然有政策支撑，明年的市场会更加分化，因为资金会流向市场较好的一二线城市，这样就会强者更强。目前的国家政策可以帮助房企舒缓一定的资金压力，一些中小房企应加快去库存，保命为上。

主流房企：业绩飘红 适当涨价？<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日前，恒大地产公告表示，由于已提前超额完成全年销售目标，将2015年销售目标上调至1800亿元。

恒大并非是首家宣布提高销售目标的上市房企，龙光地产、中海均调高了年度销售目标。得益于今年以来房地产市场明显回暖，主流房企销售业绩纷纷&ldquo;飘红&rdquo;，部分销售势头强劲的房企选择提高全年销售目标以增强投资者的信心。

根据克而瑞的统计数据，从前10月累计销售业绩看，在15家典型房企中除部分企业同比下滑外，其他房企均有较大程度上涨，其中保利地产、新城控股等房企目标完成率在80%以上，极有可能超额完成全年目标。

克而瑞研究中心分析师朱一鸣向《每日经济新闻》记者表示，今年销售业绩较好的房企有三种特征：一，标杆房企由于项目数量多，品牌效应强，受到市场及季节因素的影响较小，项目热销较为普遍；二，由于市场结构性回暖，布局重心在一线及重点二线城市的房企销售业绩较好；三，由于政策层面对改善性需求松绑，以此类产品为主的房企业绩增长明显。

&ldquo;鉴于目前市场形势，加上利率不断走低，一二线经济发达城市的房价很可能还会往上走，这也为房企涨价提供了一定空间。&rdquo;新城控股高级副总裁欧阳捷表示，由于多数大型房企完成今年销售目标已经不成问题，在剩余的两个月时间内很可能会控制推货速度，同时会通过适当的涨价提高利润空间。

中小房企：宁可亏损也要去库存<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;然而，2015年市场的火爆并不意味着行业困局将得到彻底扭转，房地产行业的高库存危机并没有从根本上解除，尤其是对于许多深陷高库存城市的房企而言，把握市场反弹清仓套现显然是最佳选择。

陈晟认为，除20个主要城市之外，其余城市去库存是主基调。存货去化周期在24个月以上的城市，该地区操盘手应该坚决降价，迅速回笼资金。去化周期在12个月到 15个月的城市，操盘手可以保持一个稳定的去化速度。在12月以内的城市，反而可以调整价格，积极获取土地的准备。

欧阳捷表示，有些城市就需要在年底前加快去库存，明年或会有比较好的政策，今明两年都是去库存的好时机，但是中小房企的机会越来越少了。

根据欧阳捷的统计，目前全国在售商品房库存约为6.8万亿平方米，在建施工面积约为60万亿平方米，加上约26万亿平方米的土地储备，潜在供应量达到86万亿平方米，按照过去3年年均12万亿平方米的销售额计算，意味着即便很多城市的地方政府不再出让一块土地，仅消化存量便需要6年以上。

一位华南上市房企的高管向《每日经济新闻》记者表示，对于已经进入高库存压力城市的企业来说，必须要对这类城市未来五年内的人口流入、新增供应情况进行深入研究，如果五年内城市的供求关系依然没法扭转，企业应该趁目前市场有所好转尽快降价抽身。

&ldquo;对于那些供求关系难以扭转的城市，房企如果硬在里面死撑，高企的财务成本会侵蚀企业利润，造成亏损，甚至会带来现金流风险，威胁企业生存。&rdquo;欧阳捷也认为，因此即便项目无利可图甚至轻微亏损，房企也应该坚决去库存，趁市场反弹离开这类城市。</p>
                        </div>
    </div>
    
    
<!--单行列开始表-->
  </div>
    <!--右侧内容结束-->
  <div class="clear"></div>
</div>
<div id="foot">
  <div class="lan">
     <div class="message">
        <div class="left_foot floatleft">
        <img src="/static/images/sm1.jpg" border="0" class="margintop27" />
        </div>
        <div class="right_foot floatleft">
        <div class=" foot_text">联系电话：18751466500</div>
        <div class=" foot_text1"><a href="{{url_for('show_index')}}" target="_blank">关于信易居</a> | <a href="http://company.zhaopin.com/CC566889122.htm" target="_blank">智联招聘</a> | <a href="http://jobs.51job.com/suzhou-gyyq/co3041030.html" target="_blank">前程无忧</a> | <a href="{{url_for('show_hire')}}" target="_blank">加入我们</a></div>
        <div class=" foot_text2">苏州信易居房地产经纪有限公司</div>
        </div>
     </div>
  </div>
  <div class="shenlan"></div>
</div>


<!--foot end-->
<form name="head"><input type="hidden" value="shouye" id="location"></form>
<script src="/static/js/tools.js"></script> 
<script src="/static/js/index.js"></script> 
<script type="text/javascript">

var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");

document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff6126b0e0bcc2a0aeed4ca0d612ad4db' type='text/javascript'%3E%3C/script%3E"));

</script><script src="/static/js/h.js" type="text/javascript"></script><a href="http://tongji.baidu.com/hm-web/welcome/ico?s=f6126b0e0bcc2a0aeed4ca0d612ad4db" target="_blank"><img border="0" src="/static/images/21.gif" width="20" height="20"></a>


</body></html>