<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link href="/static/css/index2.css" rel="stylesheet" type="text/css">
<link href="/static/css/index1.css" rel="stylesheet" type="text/css">
<link href="/static/css/navigation.css" rel="stylesheet" type="text/css">
<link href="/static/css/foot.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery-1.6.4.min.js"></script>
<title>行业新闻</title>
<link rel="Shortcut Icon" href="/static/images/favicon.ico"/>
<script type="text/javascript">
var _bdhm_top = 0;
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
var _bdhm_tim = new Image(1,1);
_bdhm_tim.id = "bdhmPerimg";
_bdhm_tim.src = _bdhmProtocol + "hm.baidu.com/_tt.gif?si=f6126b0e0bcc2a0aeed4ca0d612ad4db&rnd=" + Math.round(Math.random()*2147483647);
_bdhm_tim.onload=function(){_bdhm_top = 1;}
</script>
</head>

<body>

<body>
 <div id="navigation">
  <div class="lan"></div>
  <div class="hui">
     <div class="content">
        <div class="logo floatleft"><a href="{{url_for('show_index')}}" target="_blank"><img src="/static/images/logo.png" border="0"></a></div>
        <div class="slogan floatleft"></div>
        <div class="sign floatright"></div>
        <div class="phone floatright"></div>
        <div class="clear"></div>
     </div>
  </div>

  <div class="nav">
    <!-- 导航开始 -->
        <div class="navv"> 
       <ul>
       <li><a href="{{url_for('show_index')}}" id="shouye" class="current">首页</a></li>
       <li><a href="{{url_for('show_about')}}" id="qylc" class="">公司概况</a>                                                                                                                                                                                                                                                                                                                                                                                                         
       </li>
       <li><a href="{{url_for('show_gswh')}}" id="zlwh">公司文化</a>    
       </li>
       <li><a href="{{url_for('show_news')}}">新闻中心</a>
       </li>
       <li><a href="{{url_for('show_team')}}" id="tdfc">团队风采</a>   
       </li>
       <li><a href="{{url_for('show_hire')}}" id="jrwm">招聘信息</a>
       </li>
         <li><a href="{{url_for('show_jpfy')}}">精品房源</a>
       </li>
       <div class="clear"></div>
       </ul>
     </div>
     <!-- 导航结束 -->
     <div class="shenlan"></div>
     <div class="shadow1"></div>
     <div class="shadow2"></div>
  </div>
</div>
<div id="conntain">
  <!--banner-->
  <div class="neirong1">
   </div>
  <!--banner-->
  <!--2级导航-->
  
	  <script language="javascript">
		  var para = 4;
		  </script>
		  <div class="daohang_2">
     <div class="bordersolid"><span class="font_lan">行业新闻</span></div>
     <div class="daohang_title margintop15">
     <a href="{{url_for('show_news')}}">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="current f_yh14" id="qyxwmark">行业新闻</span>
     </a></div>
   </div>
   <script language="javascript">		
	if(para==4){		
	  var mark = document.getElementById("qyxwmark");
	  mark.setAttribute("class","current f_yh14");
	}else if(para==5){
	 var mark = document.getElementById("qyzxmark");
	 mark.setAttribute("class","current f_yh14");
	}else if(para==6){	
	  var mark = document.getElementById("pwshmark");
	  mark.setAttribute("class","current f_yh14");	
	}else if(para==7){	
	  var mark = document.getElementById("jcsjmark");
	  mark.setAttribute("class","current f_yh14");
	}
	
</script>
	
  
  
  
   <!--2级导航结束-->
   <!--右侧内容-->
   
   <div class="wenzikuang marginbottom80">
     <div class="bordersolid font_lan">央行：11月20日起下调分行常备借贷便利利率</div>
<!--单行列开始表-->
     <div class="margintop30 duanluo font_hui_14"><p>   
11月19日下午，央行官微发布消息称，为加快建设适应市场需求的利率形成和调控机制，探索常备借贷便利利率发挥利率走廊上限的作用，结合当前流动性形势和货币政策调控需要，人民银行决定于2015年11月20日下调分支行常备借贷便利利率。对符合宏观审慎要求的地方法人金融机构，隔夜、7天的常备借贷便利利率分别调整为2.75%、3.25%。
央行表示此举是结合当前流动性形势和货币政策调控需要做出的，为加快建设适应市场需求的利率形成和调控机制，探索常备借贷便利利率发挥利率走廊上限的作用。
常备借贷便利（SLF）创设于2013年，是中国央行银行抵押品制度框架中工具之一，旨在向符合审慎要求的地方法人机构提供短期流动性支持。2013年6月，中国货币市场一度出现&ldquo;钱荒&rdquo;，紧张的货币市场流动性使短期货币市场利率高到难以承受的水平，给债券市场带来了极大的冲击，乃至随后一年左右的时间里，中国债券市场利率都处于较高的水平。
在那次钱荒之后，央行便创设了常备借贷便利，向流动性不足的金融机构提供再贷款，以应对市场流动性的意外波动。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;常备借贷便利主要以抵押方式发放，合格抵押品包括一些高信用评级的债券和一些优质信贷资产。它与正（逆）回购操作、短期流动性操作（SLO）等公开市场操作一起，构成了中国央行对市场流动性管理和调节的工具体系。
尽管央行过去两年一直在扩围能够适用SLF的机构，但事实上，这一货币政策工具使用的频率并不高。
从今年5月央行开始按月公开&ldquo;常备借贷便利操作表&rdquo;，之后连续五个月，央行均未开展SLF操作，期末SLF余额为0。
自2014年1月20日起，人民银行在北京、江苏、山东、广东等10个省市展开SLF试点，由当地人民银行分支机构向符合条件的中小金融机构提供短期流动性支持。当隔夜、七天和14天期回购利率分别高于5%、7%和8%时，地方法人金融机构可向央行申请SLF操作。有消息称，今年3月，央行曾发文下调地方分支机构常备借贷便利利率，隔夜利率由去年的5%降为4.5%，七天利率则由7%降为5.5%；同时与去年相比，14天期限品种未现身，只保留隔夜和七天品种。
金融业人士认为，此举除了有利于稳定市场对资金面的预期，避免资金利率的大幅波动等目的外，此举的另一个意义是意味着央行设定了利率走廊的上限，是利率走廊管理的具体体现；当市场利率触及上限时，央行可以及时提供流动性，平抑市场利率。而此次特别提及针对地方法人金融机构，对中小银行的扶助之意明显。
</p>
                        </div>
    </div>
    
    
<!--单行列开始表-->
  </div>
    <!--右侧内容结束-->
  <div class="clear"></div>
</div>
<div id="foot">
  <div class="lan">
     <div class="message">
        <div class="left_foot floatleft">
        <img src="/static/images/sm1.jpg" border="0" class="margintop27" />
        </div>
        <div class="right_foot floatleft">
        <div class=" foot_text">联系电话：18751466500</div>
        <div class=" foot_text1"><a href="{{url_for('show_index')}}" target="_blank">关于信易居</a> | <a href="http://company.zhaopin.com/CC566889122.htm" target="_blank">智联招聘</a> | <a href="http://jobs.51job.com/suzhou-gyyq/co3041030.html" target="_blank">前程无忧</a>  | <a href="{{url_for('show_hire')}}" target="_blank">加入我们</a></div>
        <div class=" foot_text2">苏州信易居房地产经纪有限公司</div>
        </div>
     </div>
  </div>
  <div class="shenlan"></div>
</div>


<!--foot end-->
<form name="head"><input type="hidden" value="shouye" id="location"></form>
<script src="/static/js/tools.js"></script> 
<script src="/static/js/index.js"></script> 
<script type="text/javascript">

var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");

document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff6126b0e0bcc2a0aeed4ca0d612ad4db' type='text/javascript'%3E%3C/script%3E"));

</script><script src="/static/js/h.js" type="text/javascript"></script><a href="http://tongji.baidu.com/hm-web/welcome/ico?s=f6126b0e0bcc2a0aeed4ca0d612ad4db" target="_blank"><img border="0" src="/static/images/21.gif" width="20" height="20"></a>


</body></html>