<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link href="/static/css/index2.css" rel="stylesheet" type="text/css">
<link href="/static/css/tdfc.css" rel="stylesheet" type="text/css">
<link href="/static/css/index1.css" rel="stylesheet" type="text/css">
<link href="/static/css/navigation.css" rel="stylesheet" type="text/css">
<link href="/static/css/foot.css" rel="stylesheet" type="text/css">

<script src="/static/js/jquery-1.6.4.min.js"></script>
<title>团队风采</title>
<link rel="Shortcut Icon" href="images/favicon.ico"/>
<script type="text/javascript">
var _bdhm_top = 0;
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
var _bdhm_tim = new Image(1,1);
_bdhm_tim.id = "bdhmPerimg";
_bdhm_tim.src = _bdhmProtocol + "hm.baidu.com/_tt.gif?si=f6126b0e0bcc2a0aeed4ca0d612ad4db&rnd=" + Math.round(Math.random()*2147483647);
_bdhm_tim.onload=function(){_bdhm_top = 1;}
</script>
</head>

<body>
 <div id="navigation">
  <div class="lan"></div>
  <div class="hui">
     <div class="content">
        <div class="logo floatleft"><a href="index.html" target="_blank"><img src="/static/images/logo.png" border="0"></a></div>
        <div class="slogan floatleft"></div>
        <div class="sign floatright"></div>
        <div class="phone floatright"></div>
        <div class="clear"></div>
     </div>
  </div>

  <div class="nav">
    <!-- 导航开始 -->
     <div class="navv">
       <ul>
       <li><a href="{{url_for('show_index')}}" id="shouye" class="current">首页</a></li>
       <li><a href="{{url_for('show_about')}}" id="qylc" class="">公司概况</a>
       </li>
       <li><a href="{{url_for('show_gswh')}}" id="zlwh">公司文化</a>
       </li>
       <li><a href="{{url_for('show_news')}}">新闻中心</a>
       </li>
       <li><a href="{{url_for('show_team')}}" id="tdfc">团队风采</a>
       </li>
       <li><a href="{{url_for('show_hire')}}" id="jrwm">招聘信息</a>
       </li>
         <li><a href="{{url_for('show_jpfy')}}">精品房源</a>
       </li>
       <div class="clear"></div>
       </ul>
     </div>
     <!-- 导航结束 -->
     <div class="shenlan"></div>
     <div class="shadow1"></div>
     <div class="shadow2"></div>
  </div>
</div>
<div id="conntain">
  <!--banner-->
  <div class="neirong1">
   </div>
  <!--banner-->
  <!--2级导航-->
   <div class="daohang_2">
     <div class="bordersolid"><span class="font_lan">团队负责人</span></div>
     <div class="daohang_title margintop15">
     <a href="#js1">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="f_yh14" id="qyxwmark">总经理：吴振华</span>
     </a></div>
     <div class="daohang_title">
     <a href="#js2">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="f_yh14" id="qyzxmark">职能部经理：郑敏</span>
     </a></div>
     <div class="daohang_title">
     <a href="#js3">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="f_yh14" id="jcsjmark">新房部经理：孙太宇</span>
     </a></div>
    
     <div class="daohang_title">
     <a href="#js4">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="f_yh14" id="jcsjmark">二手房经理：谢东林</span>
     </a></div>
       <div class="daohang_title">
     <a href="#js5">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="f_yh14" id="qyzxmark">二手房经理：张智华</span>
     </a></div>
      <div class="daohang_title">
     <a href="#js6">
       <div class="jiantou"><img src="/static/images/jiantou.png" border="0"></div>
       <span class="f_yh14" id="qyzxmark">二手房经理：谢利强</span>
     </a></div>
 
   </div>
   <script language="javascript">		
	if(para==4){		
	  var mark = document.getElementById("qyxwmark");
	  mark.setAttribute("class","current f_yh14");
	}else if(para==5){
	 var mark = document.getElementById("qyzxmark");
	 mark.setAttribute("class","current f_yh14");
	}else if(para==6){	
	  var mark = document.getElementById("pwshmark");
	  mark.setAttribute("class","current f_yh14");	
	}else if(para==7){	
	  var mark = document.getElementById("jcsjmark");
	  mark.setAttribute("class","current f_yh14");
	}
	
</script>
   <!--2级导航结束-->
   <!--右侧内容-->
   <div class="wenzikuang marginbottom100">
     <div class="block01 margintop35">
       <a name="js1"></a><div class="tuwen"><img src="/static/images/rw1.png" border="0" class="img_border floatleft">
       
	   <div class="zhaiyao floatleft">
       <div class="title"><img src="/static/images/team_10.png" border="0" class="floatleft marginright10"><b>信易居房屋创始人兼总经理：吴振华</b></div>
       <div class="font_hui_14 duanluo2"><p> 毕业后进入房地产行业，从一点一滴的最基础的小事，从最普通的员工做起，九年的脚踏实地，兢兢业业，一步一个脚印，坚持着不断超越极限，创造奇迹的人生格言，一步步超越竞争者，最终在2013年创立信易居房产经纪有限公司。如今公司已经发展成为拥有强大的团队，一流的业绩，良好的口碑并且拥有巨大潜力的公司。在公司前进的路上，没有不可能，在我的带领下，公司会进一步发展壮大，我也相信各位未来的伙伴，选择信易居房屋一定是最佳的选择。
</div>
       </div>
	   </div>   
     </div>
     
     <div class="block01 margintop35">
       <a name="js2"></a><div class="tuwen"><img src="/static/images/rw6.png" border="0" class="img_border floatleft">
       
	   <div class="zhaiyao floatleft">
       <div class="title"><img src="/static/images/team_10.png" border="0" class="floatleft marginright10"><b>信易居房屋职能部门负责人:郑敏</b></a></div>
       <div class="font_hui_14 duanluo2"><p> 从毕业之后，我一直坚持在房地产行业，到如今已有七年，我从未怀疑过我的选择，马云曾经说过“人一定要有梦想，万一哪天就实现了呢。”因为我相信我能成功，我成功是因为我坚持，事实证明，我的坚持是正确的。如今，我已经得到了我想要的生活。在信易居，吴总让我懂得坚持，我把信易居房屋当做自己的家，把信易居房屋的伙伴当做家人，我相信信易居房屋的伙伴是最棒的。
</div>
       </div>
	   </div>   
     </div>
     
     <div class="block01 margintop35">
       <a name="js3"></a><div class="tuwen"><img src="/static/images/rw5.png" border="0" class="img_border floatleft">
       
	   <div class="zhaiyao floatleft">
       <div class="title"><img src="/static/images/team_10.png" border="0" class="floatleft marginright10"><b>信易居房屋新房部负责人：孙太宇</b></a></div>
       <div class="font_hui_14 duanluo2"><p> 2013年入职苏州信易居房地产经纪有限公司，从事房产销售2年，现任新房部经理，负责双湖板块中高端新房项目销售及连锁店新房客户的接待，信易居正式启动新房项目，目前已经与建屋集团、仁恒地产等10多家开发商形成战略合作关系，启动包括建屋商务汇、仁恒观棠等20个新房项目，建屋商务汇提前3个月完成清盘计划，各个项目均有均有不错的成绩，为公司与开发商更深层次合作及进军新房市场奠定基础。
</div>
       </div>
	   </div>   
     </div>
     
     <div class="block01 margintop35">
       <a name="js4"></a><div class="tuwen"><img src="/static/images/rw3.png" border="0" class="img_border floatleft">
       
	   <div class="zhaiyao floatleft">
       <div class="title"><img src="/static/images/team_10.png" border="0" class="floatleft marginright10"><b>信易居房屋二手房经理：谢东林</b></a></div>
       <div class="font_hui_14 duanluo2"><p> 2011年进入房地产经纪行业，在整个房地产行业低迷的时候，在一线开展了近一年的业务，主要负责金鸡湖学校学区房，以及周边中高端楼盘销售，如玫瑰湾、金水湾、水墨江南、金鸡湖花园、半岛华府、荣域花园、中旅蓝岸国际、橄榄湾、金色尚城、湖滨花园等，在业主独家委托代卖业务方面表现尤为突出，且有较强的团队意识，在领导和同事的鼓励下，通过自己不断的努力，以及对梦想的坚持，在一年后荣升为店经理，带店后能做到亲力亲为，对多位业务员提供帮助，现在他们当中大部分人都已经能独立带店，成为行业的中流砥柱。
</div>
       </div>
	   </div>   
     </div>
     
     <div class="block01 margintop35">
       <a name="js5"></a><div class="tuwen"><img src="/static/images/rw2.png" border="0" class="img_border floatleft">
       
	   <div class="zhaiyao floatleft">
       <div class="title"><img src="/static/images/team_10.png" border="0" class="floatleft marginright10"><b>信易居房屋二手房经理：张智华</b></a></div>
       <div class="font_hui_14 duanluo2"><p>2011年10月进入地产经纪行业，2013年7月加入信易居房地产经纪有限公司，2013年11月晋升为门店店经理，负责橄榄湾店。2015年1月调任租售中心店经理，负责玫瑰湾金水湾两家租售中心。自从加入公司以来一直努力挑战突破自己，带店业绩一直名列公司前茅，并且为公司培养了多名储备人才，为公司发展投入了极大的热情和精力。 
</div>
       </div>
	   </div>   
     </div>
     
     <div class="block01 margintop35">
       <a name="js6"></a><div class="tuwen"><img src="/static/images/rw4.png" border="0" class="img_border floatleft">
       
	   <div class="zhaiyao floatleft">
       <div class="title"><img src="/static/images/team_10.png" border="0" class="floatleft marginright10"><b>信易居房屋二手房经理：谢利强</b></a></div>
       <div class="font_hui_14 duanluo2"><p> 2011年进入房地产行业，并在苏州园区双湖板块展开二手房的销售工作，主要负责的区域为：玫瑰湾，金水湾，水墨江南，金鸡湖花园等高端楼盘。在2012年整年度，在同事，恩师及当时的店经理的帮助下，实现了自我的突破，成为公司的年度销冠。
2013年加入苏州信易居房地产经纪有限公司，业绩稳居公司业绩排行版前三。
2014年7月晋升为门店经理，负责双湖店。凭借着团队协作，在目标达到后再定一个更高远的目标的方向，不断刷新业绩记录。经过不断的磨练，自己的努力，以及各方的鼓励，现已储备多名人才，为公司发展做好铺垫。实现自己和团队在平台的突破做好充足的准备。
</div>
       </div>
	   </div>   
     </div>
	   
    


   </div>
    <!--右侧内容结束-->
  <div class="clear"></div>
</div>
<script language="javascript">
var speed=30;
gpic2.innerHTML=gpic1.innerHTML;

function Marquee(){
if(gpic2.offsetWidth-gpic.scrollLeft<=0)
gpic.scrollLeft-=gpic1.offsetWidth
else{
gpic.scrollLeft++
}
}
var MyMar=setInterval(Marquee,speed)
gpic.onmouseover=function() {clearInterval(MyMar)}
gpic.onmouseout=function() {MyMar=setInterval(Marquee,speed)}
</script>


<div id="foot">
  <div class="lan">
     <div class="message">
        <div class="left_foot floatleft">
        <img src="/static/images/sm1.jpg" border="0" class="margintop27" />
        </div>
        <div class="right_foot floatleft">
        <div class=" foot_text">联系电话：18751466500</div>
        <div class=" foot_text1"><a href="index.html" target="_blank">关于信易居</a> | <a href="http://company.zhaopin.com/CC566889122.htm" target="_blank">智联招聘</a> | <a href="http://jobs.51job.com/suzhou-gyyq/co3041030.html" target="_blank">前程无忧</a> | <a href="hire.html" target="_blank">加入我们</a></div>
        <div class=" foot_text2">苏州信易居房地产经纪有限公司</div>
        </div>
     </div>
  </div>
  <div class="shenlan"></div>
</div>


<!--foot end-->
<form name="head"><input type="hidden" value="shouye" id="location"></form>
<script src="./js/tools.js"></script> 
<script src="./js/index.js"></script> 
<script type="text/javascript">

var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");

document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff6126b0e0bcc2a0aeed4ca0d612ad4db' type='text/javascript'%3E%3C/script%3E"));

</script><script src="./js/h.js" type="text/javascript"></script><a href="http://tongji.baidu.com/hm-web/welcome/ico?s=f6126b0e0bcc2a0aeed4ca0d612ad4db" target="_blank"><img border="0" src="./images/21.gif" width="20" height="20"></a>


</body></html>